{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    <img src="{{ profile_img }}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    {% if object.pk == request.user.pk %}
                        <a href="{% url 'user edit profile' pk=object.pk %}">
                            <img class="edit-img" src="{% static '/images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'user delete profile' pk=object.pk %}">
                            <img class="bin-img" src="{% static '/images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>4</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>7</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>436</span>
                    <p>likes</p>
                </div>

                <h3 class="names">{{ object.full_name }}</h3>

                <p class="email">{{ object.email }}</p>

                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}
            </div>
        </div>


        <div class="pets">
            <div class="statuses">
                {% for pet in pets %}
                    <!-- Link to Pet Details Page -->
                    <a href="{% url 'pet details' username=request.user.username pet_slug=pet.slug  %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <!-- Pet Image -->
                                    <img src="{{ pet.personal_pet_photo }}"
                                         alt="pet img">
                                </div>
                            </div>
                            <!-- Pet Name -->
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">

            {% for photo in photos %}
            <a href="{% url 'photo details' pk=photo.pk %}">
                <!-- Pet Photo -->
                <img src="/media/{{photo.photo}}"
                     alt="pet img">
            </a>
            {% endfor %}


    </div>
{% endblock %}