{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-9">
            <!-- IF the viewer is the creator of the photo -->
            {% if owner == request.user %}
                <!-- Start Pet Photo Post Section -->
                <div class="card">
                <div class="edit-delete-btns">

                    <!-- Link to Edit Pet Photo Page -->
                    <a href="{% url 'photo edit' pk=photo.id %}">
                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                             alt="edit button">
                    </a>

                    <!-- Link to Delete Pet Photo Page -->
                    <a href="{% url 'photo delete' pk=photo.id %}">
                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                    </a>
                </div>
            {% endif %}
            <!-- End IF the viewer is the creator of the photo -->
            {% include 'common/pets-post.html' %}
            </div>
        </div>
    </div>
{% endblock %}